body{
    font-family: "Montserrat";
}
#title{
    background-color: #ff4c68;
    color: #fff;
}
.container-fluid{
    padding: 3% 15% 7%;
}

.main_tag {
    font-family: "Montserrat";
    font-size: 3.5rem;
    font-weight: bolder;
    color: #fff;
}
h2{
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 1.5;
}
h3{
    font-family: 'Montserrat';
    font-weight: bolder;
    font-size: 1.27rem;
}
p{
    color: #8f8f8f;
}

.navbar{
    padding: 0 0 4.5rem;
}
.navbar-brand{
    font-family:'Ubuntu', sans-serif;
    font-size:2.5rem;
    font-weight:bold;
  }
.nav-item{
    padding: 0px 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat";
}

/* Download_Button */

.download-button{
    margin: 5% 3% 5% 0%;
}

/* Title-image */
.title-image{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

/* Features_Section */
#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}
.feature-box{
    text-align: center;
    padding: 5%;
}
.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68;
}

/* Testimonail-Sections */
#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}
.carousel-item{
    padding: 7% 15%;
}
.Testimonials-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing */
#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-coloumn{
    padding: 3% 2%;
}

@media (max-width: 1028px){
    .title-image{
        position: static;
        transform: rotate(0);
    }
    #title{
        text-align: center;
    }
}

/* Section CTA */
#cta{
    background-color: #ff4c68;
    text-align: center;
    padding: 7% 15%;
}
.last-heading{
    font-family: "Montserrat";
    font-weight: bold;
    color: #fff;
    font-size: 3.5rem;
    line-height: 1.5;
}
#footer{
    text-align: center;
    padding: 7% 15%;
}
.social-icon{
    margin: 20px 10px;
}